<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form (submit)="addTrack(trackUrl)">
  <input [(ngModel)]="trackUrl" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<div class="container"><div class="row"><div class="col-sm-5 col-sm-push-4">
  <br>
  <player (click)="play()" [playing]="streamIsPlaying" [track]="currentTrack"></player>
</div></div></div>


<ul>

  <li >{{name}}</li>
</ul>
<div class="card" *ngFor="#track of (queueService.get() | async)">
  <div class="card-block">
    <h4 class="card-title">{{track?.title}}</h4>
    <h6 class="card-subtitle text-muted">{{track?.user?.username}}</h6>
  </div>
  <img [src]="track?.artwork_url" alt="Card image">
  <div class="card-block">
    <p class="card-text">{{track?.description}}</p>
    <a href="#" class="card-link">Up vote</a>
    <a href="#" class="card-link">Down vote</a>
  </div>
</div>
