<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form (submit)="addTrack(trackUrl)">
  <input [(ngModel)]="trackUrl" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<div class="container"><div class="row"><div class="col-sm-5 col-sm-push-4">
  <br>
  <player (click)="play()" [playing]="streamIsPlaying" [track]="currentTrack"></player>
</div></div></div>


<ul>
  <li *ngFor="#name of nameListService.get()">{{name}}</li>
</ul>
