.button {
  height: 75px;
  width: 75px;
}
.play {
  content: url("https://drive.google.com/uc?export=download&id=0B94dZWnZA1-ZODB3cGZsN1dvbmM");
  max-height: 100%;
  max-width: 100%;
}
.pauze {
  content: url("https://drive.google.com/uc?export=download&id=0B94dZWnZA1-ZbjlWV2VEV2FpQ1k");
  max-height: 100%;
  max-width: 100%;
}
